/* :P */

* {transition: rotate 5s linear;}

/* Elements */

body {
  margin: auto;
  margin-top: 1em;
  width: 60%;
  background-color: rgb(224, 208, 240);
  background-position: 0vw 0vw, 100vw 50vw;
  background-size: 100vw 100vw, 200vw 100vw;
  background-repeat: no-repeat, repeat;
}

h1 {text-align: center;}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  min-width: 1rem;
}

footer {
  position: absolute;
  left: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
  font-size: 12px;
  
  background-color: rgba(128, 240, 128, 0.25);
}

footer > div {
  width: 60%;
  margin: auto;
}

/* IDs */

#srchList, #pathList, #listAllSet, #tagsList {
  overflow-x: scroll;
  max-height: 20em;
}

#lowTag {
  background-color: rgb(255, 32, 32);
}

/* Classes */

.imgCont {
  background-color: rgb(192, 192, 192);
  
  width: 32rem;
  height: 32rem;
  max-width: 60vw;
  max-height: 60vw;
  
  overflow: hidden;
}

.imgCont > * {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Quick Tagging */

#greyout {
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  
  background-color: rgba(64, 64, 64, 0.5);
  z-index: 1;
}

#greyout > * {
  position: fixed;
  
  padding: 1rem;
  
  z-index: 2;
}

#greyout > * > * {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
}

#greyout > #img {
  top: 0;
  left: 0;
  width: 80vw;
  height: 60vh;
}

#greyout > #list {
  top: 0;
  left: 80vw;
  width: 20vw;
  height: 60vh;
}

#greyout > #ctrl {
  top: 60vh;
  left: 0;
  width: 20vw;
  height: 40vh;
}

#greyout > #tags {
  top: 60vh;
  left: 20vw;
  width: 80vw;
  height: 40vh;
}

#greyout > #list > div, #greyout > #ctrl > div {
  overflow: scroll;
  white-space: nowrap;
}

/* Media */

@media (max-width: 600px) {
  body {
    width: 80%;
  }
  .imgCont {
    max-width: 80vw;
    max-height: 80vw;
  }
}
