/* :P */

* {transition: rotate 5s linear;}

/* Elements */

body {
  margin: auto;
  margin-top: 1em;
  width: 50%;
  background-color: rgb(224, 208, 240);
  background-position: 0vw 0vw, 100vw 50vw;
  background-size: 100vw 100vw, 200vw 100vw;
  background-repeat: no-repeat, repeat;
}

h1 {text-align: center;}

/* IDs */

#srchList, #pathList {
  overflow-x: scroll;
  max-height: 20em;
}

/* Classes */

.imgCont {
  background-color: rgb(192, 192, 192);
  
  width: 20rem;
  height: 20rem;
  
  overflow: hidden;
}

.imgCont > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Media */

@media (max-width: 600px) {
  body {
    width: 80%;
  }
}
